---
import Docs from "../../layouts/Docs.astro";
---
<Docs>
    <div class="relative max-w-[100vw] px-16 pb-16 xl:pe-2">
        <article class="prose lg:prose-lg pt-8">
            <h1>Introduction</h1>

            <h2 id="what-is-falcon">
                <a href="#what-is-falcon" class="no-underline"><span
                        class="bg-base-content/5 hover:bg-primary/10 size-[1em] text-base-content/30 hover:text-primary/50 rounded-field border border-base-content/5 hover:border-primary/20 inline-grid place-content-center hover:shadow-sm hover:shadow-base-200 align-text-bottom me-3 lg:absolute lg:ms-[-1.5em] lg:mt-1 transition-all group">
                <svg
                        class="group-hover:scale-100 scale-90 transition-transform" fill="currentColor" width=".5em"
                        height=".5em" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg"><path
                        d="M216,148H172V108h44a12,12,0,0,0,0-24H172V40a12,12,0,0,0-24,0V84H108V40a12,12,0,0,0-24,0V84H40a12,12,0,0,0,0,24H84v40H40a12,12,0,0,0,0,24H84v44a12,12,0,0,0,24,0V172h40v44a12,12,0,0,0,24,0V172h44a12,12,0,0,0,0-24Zm-108,0V108h40v40Z"></path></svg></span></a>
                <span>What is Falcon ?</span>
            </h2>
            <h2 id="why-falcon">
                <a href="#why-falcon" class="no-underline"><span
                        class="bg-base-content/5 hover:bg-primary/10 size-[1em] text-base-content/30 hover:text-primary/50 rounded-field border border-base-content/5 hover:border-primary/20 inline-grid place-content-center hover:shadow-sm hover:shadow-base-200 align-text-bottom me-3 lg:absolute lg:ms-[-1.5em] lg:mt-1 transition-all group">
                <svg
                        class="group-hover:scale-100 scale-90 transition-transform" fill="currentColor" width=".5em"
                        height=".5em" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg"><path
                        d="M216,148H172V108h44a12,12,0,0,0,0-24H172V40a12,12,0,0,0-24,0V84H108V40a12,12,0,0,0-24,0V84H40a12,12,0,0,0,0,24H84v40H40a12,12,0,0,0,0,24H84v44a12,12,0,0,0,24,0V172h40v44a12,12,0,0,0,24,0V172h44a12,12,0,0,0,0-24Zm-108,0V108h40v40Z"></path></svg></span></a>
                <span>Why Falcon ?</span>
            </h2>
            <h2 id="can-i-continue-to-use-daisyui">
                <a href="#can-i-continue-to-use-daisyui" class="no-underline"><span
                        class="bg-base-content/5 hover:bg-primary/10 size-[1em] text-base-content/30 hover:text-primary/50 rounded-field border border-base-content/5 hover:border-primary/20 inline-grid place-content-center hover:shadow-sm hover:shadow-base-200 align-text-bottom me-3 lg:absolute lg:ms-[-1.5em] lg:mt-1 transition-all group">
                <svg
                        class="group-hover:scale-100 scale-90 transition-transform" fill="currentColor" width=".5em"
                        height=".5em" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg"><path
                        d="M216,148H172V108h44a12,12,0,0,0,0-24H172V40a12,12,0,0,0-24,0V84H108V40a12,12,0,0,0-24,0V84H40a12,12,0,0,0,0,24H84v40H40a12,12,0,0,0,0,24H84v44a12,12,0,0,0,24,0V172h40v44a12,12,0,0,0,24,0V172h44a12,12,0,0,0,0-24Zm-108,0V108h40v40Z"></path></svg></span></a>
                <span>Can I continue to use DaisyUI ?</span>
            </h2>
        </article>
    </div>
</Docs>