---
interface Props {
    title?: string;
}
const {title} = Astro.props
---
<ul class="list bg-base-100 rounded-box shadow-md">
    {title &&
            <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">{title}</li>}
    <slot/>
</ul>

