---

---
<div class="card shadow-sm bg-base-100 w-96">
    <slot name="card-image"/>
    <div class="card-body">
        <slot name="card-title"/>
        <slot/>
        <slot name="card-actions"/>
    </div>
</div>