---
import Modal from "../../../components/modal/Modal.astro";
import Button from "../../../components/Button.astro";
import Docs from "../../../layouts/Docs.astro";
---
<Docs>
    <Button onClick="my_modal_1.showModal()">open modal</Button>
    <Modal id="my_modal_1">
        <h3 class="text-lg font-bold">Hello!</h3>
        <p class="py-4">Press ESC key or click on ✕ button to close</p>
    </Modal>
</Docs>