---
import Hero from "./hero/Hero.astro";
---

<section>
    <Hero title="Welcome to Falcon" tagline="An Astro theme made with love and DaisyUI">
        <a class="btn btn-primary" href="/docs/intro" slot="actions">Get started</a>
    </Hero>
</section>

